.catalog {
  max-width: 1200px;
  padding: 20px 16px 40px 16px;
  width: 100%;

  .page-header {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 16px;
  }

  @media (max-width: 320px) {
    .page-header {
      font-size: 24px;
    }
  }

  &-select {
    margin-bottom: 16px;
    z-index: 10;
  }

  &-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    margin-bottom: 40px;
  }

  @media (max-width: 550px) {
    .catalog-grid {
      gap: 10px;
    }
  }
}