@import '../style/color.css';
@import '../style/font.css';
@import '../style/global.css';

.home {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;

  .main-main {
    padding: 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
