.Header {
    width: 100vw;
    height: 3.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -27px 30px 30px rgba(0, 0, 0 , 0.12);

    .menu-button {
        flex: 0 1 55px;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
    }

    .logo-name-container {
        flex: 0 1 180px;
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        height: 100%;
        cursor: pointer;
        user-select: none;

        .logo {
            flex-shrink: 0;
            height: 1.75rem;
            width: 1.75rem;
        }

        .site-name {
            font-size: 1.25rem;
            font-family: "Montserrat", sans-serif;
            color: var(--main-color);
            font-weight: bold;
            text-transform: uppercase;
            user-select: none;
            letter-spacing: 0.05em;

            .wave-word {
                letter-spacing: normal;
            }
        }
    }

    .search-section {
        position: relative;
        flex: 0 1 55px;
        height: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;

        .search-button-icon {
            padding: 0.125rem;
        }

        .search-input-box {
            position: absolute;
            top: 0;
            background-color: #fff;
            height: 100%;
            z-index: 1000;
            transition: all 300ms ease-out;
            display: flex;
            align-items: center;
            overflow: hidden;

            .search-input {
                transition: opacity 300ms ease-out;
                cursor: pointer;
                position: relative;
                height: 45px;
                border-radius: 0.5rem;
                border: 0;
                background-color: #f0f0f0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0.95rem;

                &::selection {
                    background: color-mix(in srgb, var(--main-color) 50%, rgba(255,255,255,0.2));
                }

                &focus {
                    outline-color: var(--main-color);

                }

                &:focus-visible {
                    outline: none;
                }
            }

            .search-input-closed {
                width: 0;
                opacity: 0;
            }

            .search-input-open {
                width: calc(100%);
                opacity: 1;
                padding: 0 2.5rem 0 1.75rem;
            }
        }
        .search-input-box-closed {
            left: 0;
            width: 0;
        }

        .search-input-box-open {
            left: calc((100vw - 55px)*-1);
            width: calc(100vw - 55px);
            padding-left: 16px;
        }
    }
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}