:root {
    --font-color: #202124;
    --main-color: var(--color-ex-9);
    --color-ex-1: #301B28; /* maybe luxury ? */
    --color-ex-2: #882426; /* бардовый */
    --color-ex-3: #CDBEA7; /* овсянка */
    --color-ex-4: #323030; /* зола */
    --color-ex-5: #C29545; /* золото */
    --color-ex-6: #42313A; /* красное дерево */
    --color-ex-7: #363237; /* темно-фиолетовый */
    --color-ex-8: #2D4262; /* индиго */
    --color-ex-9: #AA4B41; /* коррозия */
    --color-ex-10: #335252; /* бурное море */
    --color-ex-11: #763626; /* осенняя листва */
    --color-ex-12: #262F34; /* грифель */
    --color-ex-13: #F34A4A; /* неоновый красный */
    --color-ex-14: #0F1F38; /* оникс */
    --color-ex-15: #F55449; /* фейерверк */
    --color-ex-16: #E29930; /* горчица */
    --color-ex-17: #F25C00; /* мармелад */
    --color-ex-18: #F9A603; /* сок апельсина */
    --color-ex-19: #4C3F54; /* инжир */
    --color-ex-20: #B38867; /* кофе */
    --color-ex-21: #626D71; /* грифель */
    --color-ex-22: #4D648D; /* черника */
    --color-ex-23: #283655; /* чернильный индиго */
    --color-ex-24: #867666; /* олово */
    --color-ex-25: #7D5642; /* песчаник */
    --color-ex-26: #6C5F5B; /* металл */
    --color-ex-27: #CDAB81; /* крафтовая бумага */
    --color-ex-28: #4F4A45; /* олово */
    --color-ex-29: #D1B280; /* золотая фольга */
    --color-ex-30: #594D46; /* серебро */
    --color-ex-31: #432E33; /* коричнево-фиолетовый */
    --color-ex-32: #113743; /* деним */
    --color-ex-33: #962715; /* красный кирпич */
    --color-ex-34: #1E1E20; /* матовый черный */
    --color-ex-35: #BBC3C6; /* нейтральный серый */
    --color-ex-36: #5D535E; /* ветвь */
    --color-ex-37: #8593AE; /* сине-серый */
    --color-ex-38: #5A4E4D; /* сталь */
    --color-ex-39: #8B3DFF; /* фиолетовый */
}